/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  position: relative;
  color: #a0ebf9;
  height: 100vh;
  background: #272a37;
  font-family: sans-serif;
  overflow-y: hidden;
  padding: 2rem;
  box-sizing: border-box;

  li {
    list-style: circle;
  }

  a {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    margin: 10px;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

  button {
    background-color: #a0ebf9;
    color: #272a37;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    appearance: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: transform ease-in 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 26px;
    margin: 1rem auto;
  }

  h4 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    font-style: italic;
  }
}

.todo__container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 2rem;

  form {
    text-align: center;
  }

  input {
    padding: 10px 20px;
    height: 50px;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
  }

  button {
    padding: 10px 20px;
    height: 50px;
  }

  .todo__list {
    margin: 2rem 6rem;
    letter-spacing: 1.5px;
    text-align: left;

    li {
      margin: 1rem 0;
    }
  }
}

.get_started {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
